.Home .memberMonth{
    border-radius: 500px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.Home #secondRow{
    background-color: rgb(247, 247, 247);
}

.Home .lead{
    font-weight: 400;
}

.Home .jumbotron{
    background-image: url('../assets/shuswap.jpg');
    min-height: 50vh;
    padding-top: 30px;
}

.Home #headerBackground{
    background-color: #233877;
    text-align: center;
    margin-top: 30px;
    border-radius: 100px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Home .jumbotron .display-4, .Home .jumbotron .lead{
    color: white;
}

.Home .jumbotron .display-4{
    font-size: 3.0rem;
}

.Home #headerLogo{
    border-radius: 150px;
    height: 200px;
    width: auto;
}

.Home #teamPhoto{
    border-radius: 10px;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    .Home #headerBackground{
        border-radius: 60px;
    }
    .Home #headerBackground h1{
        font-size: 30px;
    }
    .Home #headerBackground .lead{
        font-size: 18px;
    }
}